.Foto
{
    display: flex;
    flex-flow: column;
}
body
{
    background-color: #f8f8f8; 

}

.footer
{
    background-color: rgb(52, 52, 107);
    width: 100%;
    color: white;
    font-size: 20px;
    left: 0;
    height: 50px;
    position: absolute;
}
footer
{
    display: block;
}
article
{
width:50%
}


